@charset "utf-8";
@import url(http://www.openhiun.com/hangul/nanumbarungothic.css);
body{font-family: 'NanumBarunGothic', sans-serif;}
/* 레이아웃 */
#header{width: 100%; height: 180px;}
#header .header-inner{width: 1200px; height: 180px; margin: 0 auto;}
#section{width: 100%; border-bottom: 1px solid #666;}
#footer{width: 1200px; height: 332px; margin: 0 auto;}


/* header */
.header-inner-top{width: 1200px; height: 113px;}
.header-inner-top .logo a{position: absolute; display: inline-block; ;margin-top: 40px; margin-bottom: 18px;}
.header-inner-top .logo img{width: 226px; height: 64px;}.header-inner-top .gnb{float: right; margin-top: 40px; }
.header-inner-top .gnb>li{float: left;  position: relative;}
.header-inner-top>.gnb>li:not(:first-child)>a::before{content: "|"; margin: 0 8px;}
.header-inner-top .gnb>li>a{display: block; color: #000; font-size: 12px;}
.header-inner-top .gnb>.more-btn>a{background: url(../img/main/bg_global_on.png) right 30% no-repeat; padding-right: 15px; padding-bottom: 10px;}
.header-inner-top .gnb>.gnbsite:hover .sitemenu{display: block;}
.header-inner-top .gnb>li>.sitemenu{background: #fff; position: absolute; top: 25px; right: -10px; z-index: 997; width: 360px; border: 2px solid #ddd; border-radius: 5px; display: none;}
.header-inner-top .gnb>li>.sitemenu .sitefl{float: left;}
.header-inner-top .gnb>li>.sitemenu .site1{border-right: 1px solid #ddd;}
.header-inner-top .gnb>li>.sitemenu>ul>li:not(:nth-child(3n)){border-bottom: 1px solid #ddd;}
.header-inner-top .gnb>li>.sitemenu ul .site{padding: 10px 20px 10px 20px;}
.header-inner-top .gnb>li>.sitemenu ul .site:first-child{padding-top: 20px;}
.header-inner-top .gnb>li>.sitemenu>ul>li>h4{font-size: 14px; color: #444; font-weight: bold;}
.header-inner-top .gnb>li>.sitemenu ul>li>ul>li>a{font-size: 13px; color: #777;}
.header-inner-top .gnb>.gnbsns>ul{background: #fff; position: absolute; z-index: 999; top: 25px; border: 2px solid #ddd; border-radius: 3px; padding:13px 5px 8px 5px; width: 90px; box-sizing: border-box; line-height: 23px; display:none;}
.header-inner-top .gnb>.gnbsns>ul>.gnb_youtube{background: url(../img/main/icon_youtube.gif) no-repeat left 3px; background-size: 15px;}
.header-inner-top .gnb>.gnbsns>ul>.gnb_insta{background: url(../img/main/icon_insta.png) no-repeat left 3px; background-size: 15px;}
.header-inner-top .gnb>.gnbsns>ul>.gnb_fb{background: url(../img/main/icon_facebook.gif) no-repeat left 3px; background-size: 15px;}
.header-inner-top .gnb>.gnbsns>ul>.gnb_naver{background: url(../img/main/icon_naver.gif) no-repeat left 3px; background-size: 15px;}
.header-inner-top .gnb>.gnbsns>ul>li>a{padding-left: 18px; color: #777; font-size: 13px;}
.header-inner-top .gnb>.gnbsns:hover >ul{display: block;}

.header-inner-bottom #nav{border-bottom:1px  solid #fff; padding-bottom: 66px;}
.header-inner-bottom #nav .bg{width: 100%; height:0px; position: absolute; top: 180px; left: 0; background: #f9f9f9; z-index: 998; transition: height .5s; }
.header-inner-bottom #nav>ul:hover ~ .bg{height:240px; border-top: 1px solid #ddd; border-bottom: 1px solid #ddd;}
.header-inner-bottom #nav>ul:hover>li>ul{height: 240px;}
.header-inner-bottom #nav>ul>li>ul{overflow: hidden; height: 0px; position: relative; z-index: 999;transition: height .5s;}
.header-inner-bottom #nav>ul{margin-top : 21px; float: left; position: absolute; } 
.header-inner-bottom #nav>ul>li{float: left;}
.header-inner-bottom #nav>ul>li>a{color: #000; font-size: 21px; padding-top: 25px; padding-bottom: 21px; font-weight: bold; }
.header-inner-bottom #nav>ul>li:hover>a{color: rgb(11, 31, 145);}
.header-inner-bottom #nav>ul>li:not(:last-child){margin-right: 60px;}
.header-inner-bottom #nav>ul>li>ul{position: absolute;}
.header-inner-bottom #nav>ul>li>ul>li>a{font-size: 16px;  display: block; color: #4d4d4d;  line-height: 80%; padding-top: 15px; font-weight: 300;}
.header-inner-bottom #nav>ul>li>ul>li:first-child{padding-top: 20px;}
.header-inner-bottom #nav>ul>li>ul>li:hover>a{color: rgb(11, 31, 145); font-weight: 700;}

.header-inner-bottom .etc_btn{float: right; margin-top: 25px;}
.header-inner-bottom .search_btn{background: url(../img/sub/icon_search.jpg) no-repeat; width: 25px; height: 25px; float: left; position: relative; top:0px; left: 0px; margin-right:50px; }
.header-inner-bottom .search_btn:after{ display:block; position:absolute; right:-23px; top:0; width:1px; height:23px; background:#9b9b9b; content:"" }
.header-inner-bottom .menu_btn{background: url(../img/sub/icon_menu.jpg) no-repeat; width: 25px; height: 25px; float: left; position: relative;}




.snb-wrap{width: 100%; height: 60px; background:#5e78a9;}
.snb-wrap::after{content: ""; width: 100%; border-bottom: 1px solid #ddd; display: block; padding-bottom: 60px;}
.snb-wrap>ul{margin: 0 auto; width: 1200px; height: 60px;}
.snb-wrap>ul>li{float: left; width: 14.2857%;  text-align: center; line-height: 59px;}
.snb-wrap>ul>li:active{background: #fff; border: 1px solid #000; border-bottom: #fff; box-sizing: border-box;}
.snb-wrap>ul>li:active a{color: #000;}
.snb-wrap>ul>li>a{font-size: 16px; color: #fff; display: block;}

.content-wrap>.content-title{width: 1200px; height: 100px; margin: 60px auto 0; border-bottom: 1px solid #c5c5c5; position: relative;}
.content-wrap>.content-title h3{font-size: 34px; color: #3e3e3e; float: left; line-height: 100px; font-weight: bold;}
.content-wrap>.content-title>.breadcrumb>li{font-size: 12px; padding-right: 12px; margin-right: 5px; background: url(../img/main/arrow_bread.jpg) right center no-repeat;}
.content-wrap>.content-title>.breadcrumb li:last-child {background: none; padding-right: 0;margin-right: 0;}
.content-wrap>.content-title>.breadcrumb>li>a{color: #666; font-size: 12px;}
.content-wrap>.content-title>.breadcrumb>li>a>img{position: relative; top: 3px; left: 0px;}
.content-wrap>.content-title>.sharebox>ul{position: absolute; right: 0px; line-height: 100px;}
.content-wrap>.content-title>.sharebox>ul>li{float: left;}
.content-wrap>.content-title>ul{float: right; margin-right: 115px; line-height: 100px;}
.content-wrap>.content-title>ul>li{float: left;}
.content-wrap>.content-title>.sharebox>ul>li>a>img{display: block; padding: 25px 0;}

.contents{width: 1200px;  margin: 0 auto; position: relative;}
.contents>ul{margin-top: 20px; }
.contents>ul>li{float: left; margin-right: 10px; }
.contents>ul>li>a{padding: 10px 15px; border: 1px solid #d6d6d6; border-radius: 30px; display: block;}
.contents>ul>li{font-size: 16px; color: #535353;}
.contents>ul>li:last-child{position: relative; margin-left: 30px;}
.contents>ul>li:last-child::before{content: ""; width: 2px; height: 20px; background: #ccc; display: block; position: absolute; top: 15px; left: -20px;}
.contents>ul>li:first-child>a{background: #003881; color: #fff; border: 1px solid #003881;}
.contents>ul>li:last-child>a{background: #ccc; color: #fff; border:1px solid #ccc;}

.contents>.list-top{margin: 30px 0;}
.contents>.list-top>a{position: absolute; right: 0; top:0px; border: 1px solid #666; padding:12px 50px 12px 24px; background: url(../img/sub/blank.png) no-repeat 90% center;}
.contents>.list-top>.btn{float: right;}
.contents>.list-top>span{color: #000; font-size: 16px;}
.contents>.list-top>.btn>span>input{padding: 5px 15px; background: #fff; border: 1px solid #d9d9d9; margin-left: 5px;}

.contents>.board-list{ text-align: center;}
.contents>.board-list>.list-head{display: table; width: 100%; background: #f9f9f9; border-top: 2px solid #1563a1; border-bottom: 1px solid #c9c9c9; padding: 25px 0; font-size: 16px;}
.contents>.board-list>.list-head>div{display: table-cell;}
.contents>.board-list>.list-head>.type{width: 12%;}
.contents>.board-list>.list-head>.number{width: 15%;}
.contents>.board-list>.list-head>.subject{width: 37%;}
.contents>.board-list>.list-head>.date{width: 15%;}
.contents>.board-list>.list-head>.view{width: 6%;}
.contents>.board-list>.list-body>.body-low{width: 100%; height: 65px; line-height: 65px; display: table; font-size: 16px; border-bottom: 1px solid #c9c9c9; color: #676767;}
.contents>.board-list>.list-body>.body-low>div{display: table-cell;}
.contents>.board-list>.list-body>.body-low>.type{width: 12%; font-size: 15px;}
.contents>.board-list>.list-body>.body-low>.type>p{width: 95px; height: 30px; margin: 0 auto; color: #fff; line-height: 30px;}
.contents>.board-list>.list-body>.body-low>.type>.c1{background: #23661a;}
.contents>.board-list>.list-body>.body-low>.type>.c2{background: #6b107a;}
.contents>.board-list>.list-body>.body-low>.type>.c3{background: #22529b;}
.contents>.board-list>.list-body>.body-low>.number{width: 15%;}
.contents>.board-list>.list-body>.body-low>.subject{color: #000; text-align: left; padding-left: 20px;}
.contents>.board-list>.list-body>.body-low>.date{width: 15%;}
.contents>.board-list>.list-body>.body-low>.view{width: 6%;}

.contents>.paging{margin: 30px 0; text-align: center;}
.contents>.paging>strong{display:inline-block; vertical-align: top; width: 40px; height: 40px; border: 1px solid #2158bd; box-sizing: border-box; line-height: 40px; color: #2158bd; font-size: 16px;}
.contents>.paging>a>img{width: 40px; height: 40px;}

.contents>.search-box{text-align: center;}
.contents>.search-box>select{width: 180px; height: 50px; padding: 10px; border: 1px solid #333; font-size: 16px;}
.contents>.search-box>.search{width: 540px;  height: 50px; border: 1px solid #333; margin-left: -4px; padding: 0 10px; font-size: 16px;}
.contents>.search-box>.btn-search{width: 50px; height: 50px; border: 1px solid #333; background: url(../img/sub/bg_search_btn.jpg) no-repeat center; font-size: 0; display: inline-block; vertical-align: top; margin-left: -4px; border-left: none; }

.contents>.satisf{background: #fafafa; border: 1px solid #a5a5a5; margin:60px 0; height: 88px;  line-height: 88px;}
.contents>.satisf>.title{font-size: 14px; color: #3c3c3c;}
.contents>.satisf>span{float: left; margin: 0 40px; font-size: 16px;}
.contents>.satisf>ul>li{float: left; margin-right: 10px;font-size: 16px;}
.contents>.satisf>ul>li>input{margin-right: 10px; vertical-align: middle; }
.contents>.satisf>.send-btn{float: right; background: #474747; font-size: 14px; color: #fff; border: 1px solid #cfcfcf; padding: 9px 25px; position: relative; top: 24px; right: 40px;}




/* footer */
#footer .sitelist{width: 1200px; height: 80px; border: 1px solid #666; border-top: none;}
#footer h3{float: left; line-height: 80px; padding: 0 20px 0 31px; color: #3c3c3c; font-weight: bold;}
#footer .arrowbox img{margin-top: 26px;  border: 1px solid #a5a5a5; box-sizing: border-box; display: block; float: left;}
#footer .arrowbox .brnone{border-right: none;}
#footer .sitelist ul{float: left; margin-left: 43px; line-height: 80px;}
#footer .sitelist ul li{float: left; text-align: center;}
#footer .sitelist ul li a{color:#666;}
#footer .sitelist ul li a::after{content: "|"; margin: 0 20px 0 20px;}
#footer>.sitelist>.arrowbox>a>img{width: 28px; height: 28px;}
#footer .sitelist>a>img{width: 80px; height: 80px; float: right; border-left: 1px solid #666;}

#footer .copyright .bottom-menu{margin-top: 40px;}
#footer .copyright .bottom-menu li{float: left; margin-right: 25px;}
#footer .copyright .bottom-menu li:nth-child(2) a{color: #0033cc;}
#footer .copyright .bottom-menu li a{font-size: 18px; color: #303030;}
#footer .copyright .copyright-text{clear: both; float: left; margin-top: 40px; margin-bottom: 18px;}
#footer .copyright .copyright-text p{font-size: 12px; color: #6c6c6c; line-height: 1.5;}
#footer .copyright .service-menu{float: right;}
#footer .copyright .service-menu li{float: left; margin-top: 50px;}
#footer .copyright .service-menu li:not(:last-child){margin-right: 3px;}
#footer .copyright .service-menu li:nth-child(1) a{background: #003881;}
#footer .copyright .service-menu li:nth-child(2) a{background: #1c72ab;}
#footer .copyright .service-menu li:nth-child(3) a{background: #005b60;}
#footer .copyright .service-menu li:nth-child(4) a{background: #34478e;}
#footer .copyright .service-menu li a{padding: 10px 20px; border-radius: 50px; color: #fff;}
#footer .copyright .icon-menu{clear: both;}
#footer .copyright .icon-menu li{float: left;}
#footer .copyright .icon-menu .icon-eprivacy{width: 33px; height: 33px; margin-right: 12px;}
#footer .copyright .icon-menu .icon-webwatch{width: 43px; height: 32px; margin-right: 12px;}
#footer .copyright .icon-menu .icon-sns{width: 30px; height: 30px;  margin-right: 9px;}

