@charset "utf-8";
body{font-family: 'NanumBarunGothic', sans-serif;}

/* 레이아웃 */
#header{width: 100%; height: 180px; position:absolute;}
#header .header-inner{width: 1200px; height: 180px; margin: 0 auto;}
#bgimg{width:100%; height: 744px; background:url(../img/main/bg_header.jpg) no-repeat center 0/100% 100%; }
#bgimg .banner1{width: 1200px; height: 546px; margin: 0 auto; position: relative; top: 178px;}
#bgimg .banner1 .banner1-left{width: 450px; height: 546px; float: left;}
#bgimg .banner1 .banner1-right{width: 750px; height: 546px; float: left; position: relative;}
#contents{width: 100%; background: olivedrab;}
#contents .banner2{width: 100%; height: 120px; margin: 0 auto;}
#contents .news{width: 100%; height: 700px; }
#contents .notice{width: 1200px; height: 387px; margin: 0 auto; }
#contents .info{width: 1200px; height: 320px;}
#contents .press{width: 1200px; height: 105px;}
#contents .sns{width: 1920px; height: 536px;}
#contents .sns-inner{width: 1200px; height: 536px;}
#contents .banner2{width: 1200px; height: 80px;}
#footer{width: 1200px; height: 252px;}

/* header */
.header-inner-top{width: 1200px; height: 113px;}
.header-inner-top .logo{background: url(../img/main/logo_main.png) no-repeat 100%; width: 226px; height: 46px; margin-top: 50px; margin-bottom: 18px;}
.header-inner-top .logo a{}
.header-inner-top .gnb{}
.header-inner-top .gnb>ul{float: right; margin-top: 40px;}
.header-inner-top .gnb>ul>li{float: left;}
.header-inner-top .gnb>ul>li:not(:first-child) a::before{content: "|"; margin: 0 8px;}
.header-inner-top .gnb>ul>li>a{display: block; color: #fff; font-size: 12px;}

.header-inner-bottom{}
.header-inner-bottom .nav{}
.header-inner-bottom .nav .bg{width: 100%; height:0; position: absolute; top: 177px; left: 0; background: #ebe9e9; z-index: 998;}
.header-inner-bottom .nav:hover .bg{height:240px; transition: height .5s;}
.header-inner-bottom .nav:hover>ul>li>ul{height: 240px; transition: height .5s;}
.header-inner-bottom .nav>ul{width: 1200px; margin-top : 21px; float: left; border-bottom:1px  solid #fff; position: absolute;}
.header-inner-bottom .nav>ul>li{float: left;}
.header-inner-bottom .nav>ul>li>a{color: #fff; font-size: 21px; padding-top: 25px; padding-bottom: 21px; font-weight: bold; }
.header-inner-bottom .nav>ul>li:hover>a{color: rgb(11, 31, 145);}
.header-inner-bottom .nav>ul>li:not(:last-child){margin-right: 60px;}

.header-inner-bottom .nav>ul>li>ul{overflow: hidden; height: 0px; position: relative; z-index: 999;}
.header-inner-bottom .nav>ul>li>ul>li{}
.header-inner-bottom .nav>ul>li>ul>li>a{font-size: 16px;  display: block; color: #4d4d4d; letter-spacing: -.1em; line-height: 80%; padding-top: 15px;}
.header-inner-bottom .nav>ul>li>ul>li:first-child{padding-top: 20px;}
.header-inner-bottom .nav>ul>li>ul>li:hover>a{color: rgb(11, 31, 145); font-weight: 700;}


.header-inner-bottom .search_btn{background: url(../img/main/icon_search.png) no-repeat; width: 25px; height: 25px; float: left; margin-left: 24px; margin-top: 18px; position: relative; top:-15px; left: 87px; }

.header-inner-bottom  .search_btn:after{ display:block; position:absolute; right:-23px; top:0; width:1px; height:23px; background:#fff; content:"" } 
.header-inner-bottom .menu_btn{background: url(../img/main/icon_menu.png) no-repeat; width: 25px; height: 17px; float: right; margin-left: 28px; margin-top: 22px; position: relative; top:-15px;}


/* banner */
#bgimg .banner1 .banner1-left{}
#bgimg .banner1 .banner1-left img{width: 411px; height: 206px; margin-top: 54px;}
#bgimg .banner1 .banner1-left p{font-size: 24px; color: #fff; margin-top: 57px; margin-bottom: 145px; line-height: 31px;}
#bgimg .banner1 .banner1-right{}
#bgimg .banner1 .banner1-right .main-slide{width: 570px; height: 370px; margin-top: 54px; margin-left: 109px;}
#bgimg .banner1 .banner1-right .leftBtn{width: 29px; height: 55px; position: absolute; top: 209px; left: 0px; margin-left: 39px;}
#bgimg .banner1 .banner1-right .rightBtn{width: 29px; height: 55px; position: absolute; top: 209px; right: 0px; margin-right: 2px;}


/* contents */
#contents .banner2{background: url(../img/main/bg_banner_finance.jpg) no-repeat center top/100% 100%;  width:100%; height: 120px;}
#contents .banner2 img{width: 1200px; height: 120px; display: block; margin: 0 auto;}
#contents .news{background: url(../img/main/bg_news.gif) no-repeat center 0/100% 100%;}
#contents .news h2{text-align: center; font-size: 36px; padding-top: 66px; margin-bottom: 37px; font-weight: bold;}
#contents .news .news1{width: 100%; }
#contents .news .news1 .news1box{width: 630px; margin: 0 auto;}
#contents .news .news1 li{float: left; width: 112px; border: 1px solid #7a8a92; border-radius: 30px; text-align: center; margin-right: 14px;margin-bottom: 44px;}
#contents .news .news1 li a{color: #7a8a92; padding: 8px 30px; display: block; font-size: 14px;}
#contents .news .news1 li:first-child{background: #fff;}
#contents .news .news1 li:last-child{margin-right: 0;}

#contents .news .cal{float: left;  border-radius: 30px; background: #0098ff; margin-left: 155px; }
#contents .news .cal a{padding: 8px 30px; font-size: 14px; display: block; color: #fff; }

#contents .news .news2{width: 100%; clear: both;}
#contents .news ul .newsbox{width: 16.666%; height: 362px; float: left;}
#contents .news ul .newsbox .news3{width: 282px; height: 362px; margin: 0 auto; background: #fff; padding: 25px; box-sizing: border-box;}


#contents .news ul .newsbox .news3{position: relative;}
#contents .news ul .newsbox .news3 .news3category{}
#contents .news ul .newsbox .news3 .news3category1{font-size: 20px; color: #a91324;}
#contents .news ul .newsbox .news3 .news3category2{font-size: 20px; color: #0093ff;}
#contents .news ul .newsbox .news3 .news3category3{font-size: 20px; color: #000;}
#contents .news ul .newsbox .news3 .news3title{font-size: 18px; color: #000; margin-top: 30px;}
#contents .news ul .newsbox .news3 .news3contents{font-size: 14px; color: #000; position: absolute; top: 167px; left: 27px; color: #525252;}
#contents .news ul .newsbox .news3 .news3date{font-size: 14px; position: absolute; bottom: 26px; left: 27px; color: #525252;}

#contents .notice .info1{width: 480px; height: 270px; padding-top: 86px; float: left;}
#contents .notice .info1 .notice-slide{width: 480px; height: 270px; float: left;}
#contents .notice .info1 .arrow{width: 93px; height: 30px; background: #fff; float: left;}
#contents .notice .info1 .arrow img{width: 30px; height: 30px; display: block; float: left; margin-right:1px;}
#contents .notice .info1 .arrowbox{width: 387px; height: 30px; background: #333; float: left; padding: 0 10px; box-sizing: border-box; line-height: 30px; color: #fff; letter-spacing: .2em;}
#contents .notice .info1 .arrow .arrowbox{font-size: 20px;}


#contents .notice .info2{background: url(../img/main/bg_info_box.jpg) repeat; width: 358px; height: 300px; float: left; margin-top: 86px; border: 5px solid #261c88; box-sizing: border-box;}
#contents .notice .info2 h2 {font-size: 23px; color: #261c89; padding: 20px 0 20px 18px; font-weight: 600; line-height: 27px;}
#contents .notice .info2 h2 span{font-size: 21px; color: #261c89;}
#contents .notice .info2 ul{ width: 331px; height: 159px; background: #261c88 url(../img/main/bg_info_box_list.png) no-repeat 245px 76px; margin: 0 auto; border-radius: 7px;}
#contents .notice .info2 ul li{margin-left: 23px; margin-bottom: 17px; height: 17px; line-height: 17px;}
#contents .notice .info2 ul li:first-child{padding-top: 20px;}
#contents .notice .info2 ul li img{width: 20px; height: 17px; vertical-align: middle; margin-right: 10px;}
#contents .notice .info2 ul li a{color: #fff; font-size: 18px; font-weight: 300;}

#contents .notice .info3{width: 360px; height: 300px; float: left; margin-top: 86px;}
#contents .notice .info3 .topinfo{width: 360px; height: 110px; background: #fff;}
#contents .notice .info3 .topinfo li{width: 180px; height: 110px; float: left;}
#contents .notice .info3 .topinfo li a{font-size: 21px; color: #262626;}
#contents .notice .info3 .midinfo{width: 360px; height: 80px; background:#0e3caf; }
#contents .notice .info3 .midinfo a{color: #fff; font-size: 15px;}
#contents .notice .info3 .midinfo span{color: #fff; font-size: 19px;}
#contents .notice .info3 .botinfo{width: 360px; height: 110px; background: rgb(217, 221, 231);}
#contents .notice .info3 .botinfo li{width: 180px; height: 110px; float: left; background: #0c83e8;}
#contents .notice .info3 .botinfo li:first-child{background: #3a589e;}
#contents .notice .info3 .botinfo a{color: #fff; font-size: 15px;}
#contents .notice .info3 .botinfo span{color: #fff; font-size: 19px;}

